@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

/* Common Variables */
:root {
    --primary-color: #fff7ea;
    --secondary-color: #c26565;

    --main-font: 'Lato', sans-serif;
    --sub-font: 'Roboto', sans-serif;
}

/* Overall */
* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--secondary-color);
}

/* Header */
#logo {
    max-width: 150px;
    max-height: 50px;
    border-radius:3px;
}


/* Rows */
.vr, hr {
    color: var(--secondary-color) ;
    padding: 0;
}