@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

/* Common Variables */
:root {
    --primary-color: #fff7ea;
    --secondary-color: #c26565;

    --main-font: 'Lato', sans-serif;
    --sub-font: 'Roboto', sans-serif;
}

/* Overall */
* {
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    font-family: var(--main-font);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--secondary-color);
}

/* Header */
#logo {
    max-width: 150px;
    max-height: 50px;
    border-radius:3px;
}


/* Rows */
.vr, hr {
    color: var(--secondary-color) ;
    padding: 0;
}


/* Cards */
.card {
    font-family: var(--sub-font);
}

.question-card, .answer-card {
    font-family: var(--sub-font);
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;
    border-top-left-radius: 0px;
    box-shadow: 1px 3px 1px 1px #c1cbcd;
}

.profile {
    color: var(--secondary-color);
}

.post-info {
    font-size: 70%;
    font-weight: 700;
    transition: all .2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 


/* Vote Elements */
.vote-area {
    width: 20%;
}
