{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row">

        <div class="col-12">

            <!-- Error Content -->
            <div class="card error-detail-card mb-3 mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="card-title error-header">
                                Feeling lost? Time to go back
                                <a href="/">HOME</a>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="card-text error-text mb-3">
                                    <h6>
                                        You can:
                                    </h6>
                                    <ul>
                                        <li>
                                            Go <a href="/">Home</a>
                                        </li>
                                        <li>
                                            Get help by <a
                                                href="{% url 'contactus' %}">
                                                Contacting Us
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <img src="https://res.cloudinary.com/duv51g0vq/image/upload/v1679847122/error-404_hhlmsv.jpg"
                                    alt="404 page cannot not be found"
                                    class="error-img">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{%endblock%}