{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row">

        <div class="col-12">

            <!-- Error Content -->
            <div class="card error-detail-card mb-3 mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="card-title error-header">
                                Sorry, we are having with our system
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="card-text error-text mb-3">
                                    <h2>
                                        You can:
                                    </h2>
                                    <ul>
                                        <li>
                                            <h3>
                                                Go <a href="/">Home</a>
                                            </h3>
                                        </li>
                                        <li>
                                            <h3>
                                                Get help by 
                                                <a
                                                    href="{% url 'contactus' %}">
                                                    Contacting Us
                                                </a>
                                            </h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <img src="https://res.cloudinary.com/duv51g0vq/image/upload/v1679887866/500_ms2udn.jpg"
                                    alt="500 internal server error"
                                    style="max-width: 100%;">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{%endblock%}