{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">

        <div class="col-12">

            <!-- Question Create -->
            <div class="card question-create-card">
                <div class="card-header">
                    <h3>Ask a Question</h3>
                </div>
                <div class="card-body">
                    <form method="post" id="question-create-form">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <button type="submit"
                            class="btn btn-success">Submit</button>
                        <small>
                            <i class="fa-brands fa-markdown"></i>
                            Markdown Supported
                        </small>
                    </form>
                </div>
            </div>
        </div>

    </div>
    {%endblock%}