{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">

        <div class="col-12">

            <!-- Delete Content -->
            <div class="card delete-content-card mb-3 mt-3">
                <div class="card-header">
                    <h3>Delete Confirmation</h3>
                </div>
                <div class="card-body">
                    <form method="post" id="delete-form">
                        {% csrf_token %}
                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        <button type="submit"
                            class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    {%endblock%}