{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    {% if not question_list %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="card-title">
                                Sorry, There's no question found!
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="card-text mb-3">
                                    <h2>
                                        You can:
                                    </h2>
                                    <ul>
                                        <li>
                                            <h3>
                                                <a href="{% url 'question_create' %}">
                                                    Ask a new question
                                                </a>
                                            </h3>
                                        </li>
                                        <li>
                                            <h3>
                                                Go <a href="/">Home</a>
                                            </h3>
                                        </li>
                                        <li>
                                            <h3>
                                                Get help by 
                                                <a
                                                    href="{% url 'contactus' %}">
                                                    Contacting Us
                                                </a>
                                            </h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <img src="https://res.cloudinary.com/duv51g0vq/image/upload/v1679887866/result-not-found_gkv8qf.jpg"
                                    alt="search result not found"
                                    style="max-width: 100%;max-height: 80%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12 mt-3">
            {% for question in question_list %}
            <div class="row">
                <div class="col-12">
                    <div class="question-card mb-3 position-relative">
                        <div class="row">
                            <div
                                class="col-md-1 text-center d-none d-md-block">
                                <a 
                                    href="{% url 'question_upvote' question.slug %}"
                                    class="vote-button btn"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="Upvote">
                                    <i class="fa-solid fa-caret-up"></i>
                                </a>
                                <div class="vote">{{ question.votes }}</div>
                                <a
                                    href="{% url 'question_downvote' question.slug %}"
                                    class="vote-button btn"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Downvote">
                                    <i class="fa-solid fa-caret-down"></i>
                                </a>
                            </div>
                            <div class="vr d-none d-md-block"></div>
                            <div class="col-md-10 col-sm-12">
                                <a href="{% url 'question_details' question.slug %}"
                                    class="question-link text-decoration-none">
                                    <div class="question-title">
                                        {{ question.title }}
                                    </div>
                                    <div class="question-text">
                                        {{ question.body.rendered|default:"<missing body>"|truncatewords:25|safe|linebreaks }}
                                    </div>
                                    <hr>
                                    <div class="post-info text-muted">
                                        <span class="profile">
                                            {{ question.created_by.profile }}
                                        </span>
                                        ●
                                        {{ question.created_on|date:"d M Y" }}
                                        {{ question.created_on|time:"H:i" }}
                                        <!-- <br> -->
                                        {{ question.answers.count }} Answer/s
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row d-md-none mt-3">
                            <div class="vote-area position-absolute bottom-0 start-0">
                                <div class="vote-area-item">
                                    <a
                                        href="{% url 'question_upvote' question.slug %}"
                                        class="vote-button btn" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Upvote">
                                        <i class="fa-solid fa-caret-up"></i>
                                    </a>
                                </div>
                                <div class="vote-area-item vote">
                                    {{ question.votes }}
                                </div>
                                <div class="vote-area-item">
                                    <a
                                        href="{% url 'question_downvote' question.slug %}"
                                        class="vote-button btn" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Downvote">
                                        <i class="fa-solid fa-caret-down"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"
                    class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"
                    class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endif %}
</div>

{%endblock%}