{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-12">

            {% for question in question_list %}
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="row">
                            <div class="col-1 text-center">
                                <button type="button" class="upvote-button btn"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="Upvote">
                                    <i class="fa-solid fa-caret-up"></i>
                                </button>
                                <div class="vote">{{ question.votes }}</div>
                                <button type="button" class="downvote-button btn"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Downvote">
                                    <i class="fa-solid fa-caret-down"></i>
                                </button>
                            </div>
                            <div class="vr"></div>
                            <div class="col-10 card-body">
                                <a href="{% url 'question' question.slug %}"
                                    class="question-link text-decoration-none">
                                    <h5 class="card-title"> {{ question.title }}
                                    </h5>
                                    <p class="card-text">{{ question.body }}</p>
                                    <hr class="hr" />
                                    <p class="card-text text-muted">Posted by
                                        {{ question.created_by }} on
                                        {{ question.created_on }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"
                    class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"
                    class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}