{% extends "base.html" %}

{% block content %}


<div class="container-fluid">

    <!-- Message Content -->
    <div class="message-card mt-3">
        <small>
            <a class="nav-link" href="{% url 'inbox' %}"><i class="fa-solid fa-arrow-left"></i>Inbox</a>
        </small>
        <div class="row">
            <div class="col-12">
                <h1 class="message-subject">{{ message.subject }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-10 post-info text-muted">
                <span class="profile">
                    {{ message.email }}
                </span>
                ●
                {{ message.created_on|date:"d M Y" }}
                {{ message.created_on|time:"H:i" }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="message-text">
                    {{ message.body|default:"<missing body>"|safe|linebreaks}}
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}