{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">

        <div class="col-12">

            <!-- Question Content -->
            <div class="card question-detail-card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            Posted by {{ question.created_by }} on
                            {{ question.created_on }}
                        </div>
                        <div class="col-2">
                            <ul
                                class="question-options list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <a href="#" id="edit-question"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editQuestionModal"
                                        data-bs-title="{{ question.title }}"
                                        data-bs-body="{{ question.body }}">
                                        Improve
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'question_delete' question.slug %}"
                                        id="delete-question">
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-1 text-center">
                        <button type="button" class="upvote-button btn"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Upvote">
                            <i class="fa-solid fa-caret-up"></i>
                        </button>
                        <div class="vote">{{ question.votes }}</div>
                        <button type="button" class="downvote-button btn"
                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Downvote">
                            <i class="fa-solid fa-caret-down"></i>
                        </button>
                    </div>
                    <div class="vr"></div>
                    <div class="col-10 card-body">
                        <h5 class="card-title">{{ question.title }}</h5>
                        <p class="card-text question-text mb-3">
                            {{ question.body }}
                        </p>
                    </div>
                </div>
            </div>

            <!-- Posted Answers -->
            {% for answer in answers %}
            <div class="card answer-card">
                <div class="offset-1 card-body">
                    <div class="row mb-3">
                        <div class="offset-10 col-2">
                            <ul
                                class="answer-options list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <a href="#" data-bs-toggle="modal"
                                        data-bs-target="#editAnswerModal"
                                        data-bs-answerid="{{ answer.id }}"
                                        data-bs-body="{{ answer.body }}"
                                        id="edit-answer">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'answer_delete' question.slug answer.id %}"
                                        id="answer-question">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <p class="card-text answer-text ">
                                {{ answer.body }}
                            </p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-1">
                            <button type="button" class="helpful-button btn"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Helpful">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <div class="vote">{{ answer.votes }}</div>
                        </div>
                        <div class="col-1">
                            <button type="button" class="unhelpful-button btn"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Not Helpful">
                                <i class="fa-solid fa-thumbs-down"></i>
                            </button>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <div class="col-6 text-muted">
                                    <p>
                                        {{ answer.created_by }}
                                        {{ answer.created_on }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {% endfor %}

            <!-- Answer Question -->
            <div class="col-md-4 card answer-input">
                <div class="card-header">
                    <p>Your Answer:</p>
                </div>
                <div class="card-body">
                    <form method="post" id="new-answer-form">
                        {{ answer_form.as_table }}

                        {% csrf_token %}

                        <button type="submit"
                            class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal fade" id="editAnswerModal" tabindex="-1"
    aria-labelledby="editAnswerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAnswerModalLabel">Edit an Answer
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="edit-answer-form">
                    {% csrf_token %}

                    {{ answer_form|crispy }}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit"
                            class="btn btn-success">Confirm</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="editQuestionModal" tabindex="-1"
    aria-labelledby="editQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editQuestionModalLabel">Edit a
                    Question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="edit-question-form">
                    {% csrf_token %}

                    {{ question_form|crispy }}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit"
                            class="btn btn-success">Confirm</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var editAnswerModal = document.getElementById('editAnswerModal');
    var editQuestionModal = document.getElementById('editQuestionModal');

    editQuestionModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var title = button.getAttribute('data-bs-title');
        var body = button.getAttribute('data-bs-body');

        var modalTitleInput = editQuestionModal.querySelector('input[name="title"]');
        var modalBodyInput = editQuestionModal.querySelector('textarea[name="body"]');
        var questionForm = editQuestionModal.querySelector('form');

        questionForm.action = `${window.location.href}update/`;
        modalTitleInput.value = title;
        modalBodyInput.value = body;
    });

    editAnswerModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var body = button.getAttribute('data-bs-body');
        var answerForm = editAnswerModal.querySelector('form');

        var modalBodyInput = editAnswerModal.querySelector('textarea[name="body"]');

        answerForm.action = `${window.location.href}${button.getAttribute('data-bs-answerid')}/update/`;
        modalBodyInput.value = body;
    });

</script>
{%endblock%}