{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">

        <div class="col-12">

            <!-- Question Content -->
            <div class="card question-detail-card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            Posted by
                            <span class="profile">{{ question.created_by.profile }}</span> 
                            on
                            {{ question.created_on|date:"d M Y" }}
                            {{ question.created_on|time:"H:i" }}
                        </div>
                        <div class="col-2">
                            <ul
                                class="question-options list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <a href="{% url 'question_update' question.slug %}"
                                        id="edit-question">
                                        Improve
                                    </a>
                                </li>
                                {% if user.is_superuser %}
                                <li class="list-group-item">
                                    <a href="{% url 'question_delete' question.slug %}"
                                        id="delete-question">
                                        Remove
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-1 text-center">
                        <a role="button"
                            href="{% url 'question_upvote' question.slug %}"
                            class="upvote-button btn" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Upvote">
                            <i class="fa-solid fa-caret-up"></i>
                        </a>
                        <div class="vote">{{ question.votes }}</div>
                        <a role="button"
                            href="{% url 'question_downvote' question.slug %}"
                            class="downvote-button btn" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Downvote">
                            <i class="fa-solid fa-caret-down"></i>
                        </a>
                    </div>
                    <div class="vr"></div>
                    <div class="col-10 card-body">
                        <h5 class="card-title">{{ question.title }}</h5>
                        <div class="card-text question-text mb-3">
                            {{ question.body.rendered|default:"<missing body>"|safe|linebreaks}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Posted Answers -->
            {% for answer in answers %}
            <div class="card answer-card">
                <div class="offset-1 card-body">
                    <div class="row mb-3">
                        <div class="offset-10 col-2">
                            <ul
                                class="answer-options list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <a href="{% url 'answer_update' question.slug answer.id %}"
                                        id="edit-answer">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'answer_delete' question.slug answer.id %}"
                                        id="delete-answer">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-1 accepted-check">
                            {% if answer.accepted %}
                                <i class="fa-solid fa-check"></i>
                            {% endif %}
                        </div>
                        <div class="col-11">
                            <div class="card-text answer-text ">
                                {{ answer.body.rendered|default:"<missing body>"|safe|linebreaks}}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1">
                            {% if not answer.accepted %}
                                <a role="button"
                                    href="{% url 'answer_accept' question.slug answer.id %}"
                                    class="accept-button btn"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="Accept as a Best Answer">
                                    <i class="fa-solid fa-circle-check"></i>
                            </a>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            <a role="button"
                                href="{% url 'answer_upvote' question.slug answer.id %}"
                                class="helpful-button btn"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Helpful">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </a>
                        </div>
                        <div class="col-1">
                            <div class="vote">{{ answer.votes }}</div>
                        </div>
                        <div class="col-1">
                            <a role="button"
                                href="{% url 'answer_downvote' question.slug answer.id %}"
                                class="unhelpful-button btn"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Not Helpful">
                                <i class="fa-solid fa-thumbs-down"></i>
                            </a>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6 text-muted">
                                    <p>
                                        <span class="profile">{{ answer.created_by.profile }}</span> 
                                        {{ answer.created_on|date:"d M Y" }}
                                        {{ answer.created_on|time:"H:i" }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {% endfor %}

            <!-- Answer Question -->
            <div class="col-md-4 card answer-create-card">
                <div class="card-header">
                    <p>Your Answer:</p>
                </div>
                <div class="card-body">
                    <form method="post"
                        action="{% url 'answer_create' question.slug %}"
                        id="answer-create-form">
                        {% csrf_token %}

                        {{ answer_form.as_table }}

                        <button type="submit"
                            class="btn btn-success">Submit</button>
                        <small>
                            <i class="fa-brands fa-markdown"></i>
                            Markdown Supported
                        </small>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

{%endblock%}